* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Calibri', sans-serif;
    line-height: 1.6;
    color: #333;
}

h1,
h2,
h3 {
    color: #104f82;
}

.linktree {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    background: #333;
    color: #fff;
}

.redirects {
    list-style: none;
    display: flex;
    gap: 20px;
}

.redirects a {
    color: #fff;
    text-decoration: none;
}

.hero {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.hero-content {
    background-color: #b7e1f7;
    color: #333;
    padding: 20px;
    border: #333;
    border-radius: 25px;
    display: flex;
    text-align: start;
    gap: 20px;
    align-items: center;
    margin-left: 15%;
    margin-right: 15%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.btn {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background: #f04e23;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

section {
    padding: 40px 20px;
    max-width: 800px;
    margin: auto;
}

footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 20px;
}


/* dropdown style */

.dropdown {
    position: relative;
    display: inline-block;
}


/* Style the button */

.dropbtn {
    background-color: #b7e1f7;
    color: black;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


/* Dropdown content (hidden by default) */

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    z-index: 1;
}


/* Dropdown links */

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


/* Hover effects */

.dropdown-content a:hover {
    background-color: #f1f1f1;
}


/* Show the dropdown on hover and hold for click */

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #2b61d6;
    color: white;
}

.dropdown.show .dropdown-content {
    display: block;
}


/* back to top button */

#back-to-top-btn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 15px;
    font-size: 16px;
    background: #104f82;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#back-to-top-btn:hover {
    background: #2b61d6;
}


/* Contact section buttons */

.contact-buttons {
    display: flex;
    gap: 10px;
    justify-content: left;
    margin-top: 15px;
}

#emailBtn,
#linkedinBtn {
    background-color: #b7e1f7;
    color: black;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.email:hover #emailBtn,
.linkedin:hover #linkedinBtn {
    background-color: #2b61d6;
    color: white;
}


/* Floating navigation menu */

.nav-menu {
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 10px;
    top: 155px;
    right: 10px;
    background-color: #6c7b9c;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    width: 150px;
}


/* Navigation buttons */

#nav-linktree,
#nav-about,
#nav-experience,
#nav-skills,
#nav-projects,
#nav-contact {
    background-color: #b7e1f7;
    color: black;
    padding: 5px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#nav-linktree:hover,
#nav-about:hover,
#nav-experience:hover,
#nav-skills:hover,
#nav-projects:hover,
#nav-contact:hover {
    background-color: #2b61d6;
    color: white;
}